body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    
    background: #344051;
    
}
.logo {
    color:#fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 288px;
    float: left;
    
}
.menu{
    float: left;
    padding-left: 232px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 20px ;
    font-size: 16px;
    text-transform: uppercase;
    }
.main{
    width: 100%;
    height: calc(100% - 60px);
 background: url(../img/boy.png) 80% 100% / auto 85%  no-repeat , url(../img/fon.png) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 332px 0px 0px 304px;
    color: #2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
}
.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid#6d7682;
    background: none ;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    }
    .obomne h2{
    text-align-last: center;
    font-size: 24px;
    margin-top: 108px ;
        color: #263244;
}
.obomne {

    background: url(../img/ZAGOLOVOK.png) 50%  32px no-repeat , url(../img/obomne.PNG) 50% 100px  NO-REPEAT;
}
.infa1{padding: 282px 350px 0px 350px;
    color: #80858f;
}
.infa2{ padding:40px 350px 40px 350px ;
    color: #80858f;
}
.obomne a{
padding: 12PX 35PX 12PX 35PX;
    border: 2PX solid#6d7682;
    margin: 40px 665px 100px 665px ;
    border-radius: 10px;
    text-align: center;
    color: #6f707e;
    background: url(../img/icon1.png) no-repeat 15px 12px;
    }
.skil h2{ 
    height: 130px;
    width: 170px;
    padding-top: 108px; 
    margin: 200px 680px 40px 680px ;
    font-size: 23px ;
    color: #263244;
    font-weight: 600;
    
}
.skil{height: 524px;
    background: url(../img/ZAGOLOVOK.png) 50% 162px no-repeat  , url(../img/laptop.png) no-repeat 13% 265px ,
    url(../img/symbol.png) no-repeat 37% 265px , url(../img/fau2.png) no-repeat 64% 265px , url(../img/megaphone.png) no-repeat 89% 265px , url(../img/skilfon.png) 824px repeat;
}
.skil h3{
 float: left;
    height: 20px;
    width: 230 px;
    margin-left: 58px;
    margin-left: px;
    margin-top: 165px;
    padding-left:120px;
    text-align:center;
    color: #cf7600;
    font-weight: 600;
    
    
}
.skil p{display: block;
    float: left;
    width: 230px;
    height: 20px;
    margin-top: 200px;
    margin-left: -130px;
    color: #5f6674;
}
.case h2{
    height: 30px;
    width:100px;
    margin: 108px 718px 30px;
    font-size: 23px;
    font-weight: 600;
    color: #384354;}
.case {background: url(../img/ZAGOLOVOK.png) no-repeat 50% 53px}
.case p{
    margin-top: 58px;
    margin-left: 20%;
    color:#636a76;
}
.case img{
    height: 620px;
    width: 1220px;
    margin-top:40px;
    margin-left: 20px;
}
.visitsite{
        height: 30px;
    width: 1220px;
    margin: 0PX -230PX 0PX 130PX;
    padding-left:100PX
     
}
 .visitsite h3{
     float: left;
    width: 180px;
    height: 40px;
    margin-top: -80px;
    margin;
    margin-left: 100px;
     color: #384354;
     font-size: 16PX;
     font-weight: 600;
     }

 .visitsite p{
     float: left;
     max-width:600PX;
     height: 75PX;
     margin-top: -60px;
     margin-left: 100PX;
     color: #727883;
}
.knopka{
    height:405px;
    width: 1220px;
    margin: 0px 330px;
    
    
}
.knopka h3{
margin-top: -65px   
    
}
.knopka a{
    float: left;
    width:120px ;
    height:12px ;
    margin:-10px -822px;
}
.knopka input{
    float: left;
       height: 45px;
    width: 160px;
    border: 2px solid#6d7682;
    border-radius: 5px;
  margin: 25px -822px;
  padding: 0px 22px;
  font-size: 15px;
  color:#ffffff;
  background: #63b5ae;
}
.price h2{
    height: 32px;
    width: 314px;
    margin: -150px 626px 20px 626px;
    font-size: 32px;
    font-weight:600;
    color:#1c2534;
}
.typesite h3{
    height: 20px;
    width: 150px;
    margin: 60px 0px 22px 340px;
    font-size: 20px;
    color:#1c2534;
    font-weight: 600;
}
.option1 {
    height: 60px;
    width: 890px;
    margin: 20px 335px 0px 335px;
    border: 1px solid#eeeeee;
    background: #eeeeee;
}
.option1 select{
    height: 60px;
    width: 860px;
     padding: 20px 25px 25px 30px;
    font-size: 13px;
    font-weight: 550;
    color:#737373;
    background: #eeeeee;
}
.design h3{
    height: 20px;
    width: 150px;
    margin: 50px 0px 22px 340px;
    font-size: 20px;
    color:#1c2534;
    font-weight: 600;
}
    .option2{
    height: 60px;
    width: 890px;
    margin: 20px 335px 0px 335px;
    border: 1px solid#eeeeee;
    background: #eeeeee;
}
.option2 select{
    height: 60px;
    width: 860px;
     padding: 20px 25px 25px 30px;
    font-size: 13px;
    font-weight: 550;
    color:#737373;
    background: #eeeeee;
    }
.adaptive h3{
    height: 20px;
    width: 150px;
    margin: 50px 0px 22px 340px;
    font-size: 20px;
    color:#1c2534;
    font-weight: 600;
}
    .option3{
    height: 60px;
    width: 890px;
    margin: 20px 335px 0px 335px;
    border: 1px solid#eeeeee;
    background: #eeeeee;
}
.option3 select{
    height: 60px;
    width: 860px;
     padding: 20px 25px 25px 30px;
    font-size: 13px;
    font-weight: 550;
    color:#737373;
    background: #eeeeee;
}
.rasschet{
    height: 74px;
    width: 890px;
    border-top: 2px solid#eeeeee;
    margin: 38px 0px 155px 335px;
}
.rasschet h4{
    height: 17px;
        width: 60px;
    padding: 25px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600
    
}
.rasschet p{
    padding: 0px 871px;
        font-size: 19px;
    font-weight: 600;}
.statistic{
    height: 500px;
    width: 100%;
    background: url(../img/ZAGOLOVOK.png) no-repeat 50% 160px, url(../img/smile.png) no-repeat  213px 245px, url(../img/breackets.png) no-repeat 533px 245px,url(../img/vibory.png) no-repeat 59% 245px , url(../img/cup.png) no-repeat 81% 245px , url(../img/statistick%20fon.png);
}
.statistic h2{
    height: 22px;
    width:312px;
    margin: 0px 623px 0px 623px;
    padding-top: 103px;
    font-size: 23px;
    color: #323e4f;
    font-weight: 600;
}
.statistic p{
    height: 68px;
    width: 175px;
    text-align:center;
    float: left;
    margin-left: 150px;
    padding-top:205px;
    font-size: 13px ;
    font-weight: 600;
    color: #323e4f;
}
.statistic big{
    height: 56px;
    font-size: 26px;
    padding: 0px 0px 20px 0px
}
.statistic br{
    padding-top: 20px
}
.otzyv{
    height: 593px;
    width: 100%;
    background:url(../img/1nah.png) no-repeat 49% 492px, url(../img/2nah.png) no-repeat 50% 492px, url(../img/3nah.png) no-repeat 51% 492px , url(../img/mihal.png) no-repeat 50% 220px , url(../img/ZAGOLOVOK.png) no-repeat 50% 160px
    
}

.otzyv h2{
    padding: 104px 710px 0px 710px;
    font-size: 23px;
    font-weight: 600;
    color: #243042;

   
}
.infa3{
    height: 34px;
    width: 690px;
    margin: 235px 420px 0px 420px;
    text-align: center;
    color: #525965;
    font-size: 11px;
    font-weight: 600;
    
    
}
.infa4{
    height: 14px;
    width: 690px;
    margin: 37px 420px 0px 420px;
    text-align: center;
    color: #525965;
    font-size: 13px;
    font-weight: 600;
}
.infa4 b{
    color: #243042;
    font-weight: 700;
}
.mycontact {
    height: 1250px;
    width: 100%;
    background: url(../img/sloy.end.png) no-repeat 0px 1158px ,  url(../img/maps.png)no-repeat 40% 808px , url(../img/tryba.png) no-repeat 965px 255px , url(../img/convert.png) no-repeat 745px 255px  , url(../img/metka.png) no-repeat  525px 255px, url(../img/ZAGOLOVOK.png) no-repeat 50% 160px , url(../img/contactfon.png) no-repeat 50% 0px
}
.mycontact h2{
    height: 25px;
    width: 300px;
    margin: 0px 0px 0px 660px;
    padding-top: 105px;
    color: #ffffff;
    font-size: 25px;
}
.end1{
    padding: 95px 425px;
    font-size: 13px;
        color: #ffffff;
    }
.mycontact a{
    font-size: 13px;
    color: #ffffff;
}
.a1{
    height: 30px;
    width: 200px;
    float:left;
    margin-left:  435px;
    text-align: center;
}
.a2{
    height: 30px;
    width: 200px;
    float: left;
    margin-left:50px;
    
}
.a3{
    height: 30px;
    width: 200px;
    float: left;
    margin-left:  50px;
}
.mycontact h3{
    padding-top: 60px;
    margin-left: 645px;
        color: #ffffff;
    font-size:16px;
    font-weight: 600;
}
.inp1{
    float: left;
    height: 36px;
    width: 352px;
    border:1px solid#d2d5dc;
    margin-left:386px;
    margin-top: 46px;
    background: #d2d6dc;
}
.inp2{
    float: left;
    height: 36px;
    width: 352px;
    border:1px solid#d2d5dc;
    margin: 46px 30px;
    background: #d2d6dc;
}
.mycontact textarea{
    height: 94px;
    width: 734px;
    margin: -32px 386px;
    border:1px solid#d2d5dc;
    background: #d2d6dc;
}
.inp3{
    height: 46px;
    width: 124px;
    border: 2px solid#ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin: 60px 690px
}
.end2{
    height: 48px;
    width: 135px;
    color: #000000;
    margin-left:700px;
    margin-top: 240px;
    border: 1px solid#ffffff;
    background: #ffffff;
    text-align: center;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 600;
    }
.end3{   height: 28px;
    width: 330px;
    margin: 190px 635px;
    font-size: 12px;
    color:#ffffff;
    
}

    







    




    

    







    