.box{
  background-color: #000000;
  margin: 0 auto;
  width: 1920px;
  height: 880px;
  position: relative;
  box-shadow: inset 0 0 20px #155;
  border-radius: 0px;
  border: 1px solid #111;
  overflow: hidden;
}

.box b{
  display: block;
  width: 405px;
  height: 221px;
  border-radius: 2%;
  background:url(img/lOdEJoMCa7k.jpg) ;
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
  position: absolute;
  -webkit-animation: moveX 9s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
  -moz-animation: moveX 9s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
  -o-animation: moveX 9s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
  animation: moveX 9s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left:1100px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left:1100px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 1100px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 1100px; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 550px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 550px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top:550px; }
}
@keyframes moveY {
  from { top: 0; } to { top:550px; }
}